<div *ngIf="isLoggedIn" class="wrapper">
  <h1>You're already logged in. Log out first before you try to sign up</h1>
  <button class="fancy-btn" style="width: 100%" routerLink="/home">
    Go Home
  </button>
  <button
    class="fancy-btn"
    style="width: 100%"
    *ngIf="getAccessInfo()"
    [routerLink]="getAccessInfo()?.role === 'student' ? '/student' : '/teacher'"
  >
    Go to my role confidential info page
  </button>
</div>

<form
  *ngIf="!isLoggedIn"
  (ngSubmit)="onSubmit()"
  name="signupForm"
  class="wrapper"
  [formGroup]="signupForm"
>
  <h1>Registration</h1>

  <!-- ====== Stage I - email, password  and role ====== -->
  <h3 *ngIf="!stageOnePassed">Step 1</h3>
  <div *ngIf="!stageOnePassed" class="input">
    <label for="email">E-mail</label>
    <input
      type="email"
      placeholder="E-mail"
      formControlName="email"
      name="email"
      id="email"
      autocomplete="email"
      required
    />
    <span
      class="input-error"
      *ngIf="
        this.signupForm.get('email')?.dirty &&
        this.signupForm.get('email')?.invalid
      "
      >The email must be a valid email</span
    >
  </div>

  <div *ngIf="!stageOnePassed" class="input">
    <label for="password">Password</label>
    <input
      #password
      type="password"
      formControlName="password"
      placeholder="password"
      name="password"
      id="password"
      autocomplete="current-password"
      required
    />
    <span
      class="input-error"
      *ngIf="
        this.signupForm.get('password')?.dirty &&
        this.signupForm.get('password')?.invalid
      "
      >The password must be minimum 5 characters</span
    >
  </div>

  <select
    *ngIf="!stageOnePassed"
    class="fancy-select"
    name="role"
    formControlName="role"
  >
    <option *ngFor="let role of roleArray" [value]="role" selected="">
      {{ role }}
    </option>
  </select>

  <div
    *ngIf="!stageOnePassed"
    class="input"
    style="display: flex; flex-direction: row; align-items: center"
  >
    <input
      type="checkbox"
      formControlName="readTheBoringStuff"
      name="readTheBoringStuff"
      id="readTheBoringStuff"
    />
    <a
      id="readTheBoringStuffText"
      href="http://www.bullshit.com/statements/agreement.html"
      target="_blank"
      >I have read the terms of conditions and privacy cookies</a
    >
  </div>

  <button
    *ngIf="!stageOnePassed"
    (click)="beginStageTwo()"
    id="signup-btn"
    class="fancy-btn"
    [disabled]="signupEnabled()"
  >
    Register
  </button>

  <!-- ====== Stage II - name, last name and birthdate ====== -->
  <h3 *ngIf="stageOnePassed">Step 2</h3>

  <div *ngIf="stageOnePassed" class="input">
    <label for="name">Name</label>
    <input
      formControlName="name"
      placeholder="Your Name"
      name="name"
      id="name"
    />
  </div>

  <div *ngIf="stageOnePassed" class="input">
    <label for="last-name">Surname</label>
    <input
      formControlName="lastName"
      placeholder="Your Last Name"
      name="lastName"
      id="lastName"
    />
  </div>

  <div *ngIf="stageOnePassed" class="input">
    <label for="birthdate">Date of Birth</label>
    <input
      type="date"
      formControlName="birthdate"
      name="birthdate"
      id="birthdate"
    />
  </div>

  <button
    *ngIf="stageOnePassed"
    type="submit"
    id="signup-btn"
    class="fancy-btn"
    [disabled]="signupEnabled()"
  >
    Complete
  </button>

  <!-- ====== Login in instead and other BS ====== -->
  <hr />

  <button
    type="button"
    routerLink="/login"
    id="login-btn"
    class="fancy-btn"
    style="width: fit-content"
  >
    I already have an account, I wanna log in instead! Sorry I forgot...
  </button>
  <div
    *ngIf="alert"
    [ngClass]="alert.type === 'info' ? 'alert-info' : 'alert-error'"
  >
    {{ alert.message }}
  </div>
  <button
    class="fancy-btn"
    style="width: 100%"
    *ngIf="getAccessInfo()"
    [routerLink]="
      getAccessInfo()?.role === 'student'
        ? '/student'
        : getAccessInfo()?.role === 'teacher'
        ? '/teacher'
        : 'admin'
    "
  >
    Go to my role confidential info page
  </button>
</form>
