<section class="content-wrapper">
  <span class="title">Hello Student, here be your schoool info</span>
  <br />
  <br />
  <div *ngIf="isLoading">
    <br />
    <br />
    <br />
    <br />
    <student-hive-loading-spinner></student-hive-loading-spinner>
  </div>

  <section *ngIf="!isLoading" class="user-info">
    <div class="wall" style="transform: rotate(180deg)"></div>
    <span class="subtitle">Attendance</span>
    <ng-container *ngFor="let class of classes">
    <div class="classesHeader">
      <span class="text">{{ class.name }}</span>
    </div> 

    <div *ngIf="true">
    <ng-container  *ngFor="let attendance of attendances">
    <div class="attendanceList" *ngIf="attendance.lecture.class.name == class.name">
      <span class="text" style="margin-right: 12px;">{{attendance.createdAt | date: 'dd/MM/yyyy'}}</span>
      <span class="text" style="font-weight:bold">{{attendance.createdAt | date: 'HH:mm'}}</span>
    </div>
    </ng-container>
  </div>
  </ng-container>
    <br />

    <span class="subtitle">Upcoming lectures</span>
    <ng-container *ngFor="let lecture of upcomingLectures">
      <div class="attendanceList">
        <span class="text">{{ lecture.class.name}} </span>
        <div>
        <span class="text" style="margin-right: 12px;">{{lecture.start| date: 'dd/MM/yyyy'}}</span>
        <span class="text" style="font-weight:bold">{{lecture.start| date: 'HH:mm'}}</span>
        </div>
      </div>
    </ng-container>
    <br />
    
    <!-- <span class="subtitle">Missed classes this month</span>
    <span class="text">{{ user?.name + ' ' + user?.lastname }}</span> -->
    <br />

    <div class="wall"></div>
  </section>
</section>
