:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content-wrapper {
  width: 50vw;
  height: 60vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  width: 50vw;
  min-width: 200px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: xx-large;
  color: rgba(6, 255, 243, 1);
  text-shadow: 0 0 30px rgb(10, 189, 243);
}

.subtitle {
  font-size: x-large;
  color: rgb(255, 6, 255);
  text-shadow: 0 0 30px rgb(177, 10, 243);
}

.text {
  color: rgba(6, 255, 243, 1);
  text-shadow: 0 0 30px rgb(10, 189, 243);
}

.role-student {
  text-shadow: 0 0 18px blue;
  color: rgb(140, 152, 255);
  background-color: transparent;
}

.role-teacher {
  text-shadow: 0 0 18px yellow;
  color: rgb(255, 249, 172);
}

.role-admin {
  text-shadow: 0 0 18px rgb(207, 30, 184);
  color: rgb(183, 119, 255);
}

.action-btn {
  transition-duration: 0.1s;
  transform: scale(0.8);
  margin: 5px;
}

.action-btn:hover {
  transition-duration: 0.3s;
  transform: scale(0.9);
}

.action-btn:active {
  transition-duration: 0.05s;
  transform: scale(1);
}

.wall {
  height: 25px;
  width: 100%;
  background-image: url(https://i.imgur.com/9EfnzaH.png);
  background-repeat: no-repeat;
  background-size: cover;
}
